extends layouts/main

block content
    .form-container
        form(action=`/users${routes.changePassword}`, method="post")
            input(type="password", name="oldPassword", placeholder="CurrentPassword")
            input(type="password", name="newPassword", placeholder="NewPassword")
            input(type="password", name="newPassword1", placeholder="Verify NewPassword")
            input(type="submit", value="Change Password")